rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /leads/{leadId} {
      allow create: if true;
    }
    match /users/{userId} {
      allow read: if true;
      allow create: if request.auth != null && !request.resource.data.keys().hasAny(['isAdministrator']);
      allow update: if request.auth != null && request.resource.data.diff(resource.data).affectedKeys().hasOnly(['name', 'updatedAt']);
      allow delete: if request.auth != null && request.auth.uid == userId;
    }
    match /emails/{emailId} {
      allow create: if request.auth != null;
      allow read, update, delete: if false;
    }

  }
}
